.avg_wrapper {
    margin: auto;
    font: 14px/20px regular, sans-serif;
}
.avg_wrapper label { cursor: pointer; }
.avg_left {
    float: left;
}
.avg_right {
    float: right;
}
.avg_center {
    text-align: center;
}
.avg_header {
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 42px;
}
.avg_line {
  margin: 5px 0;
}
.avg_header .avg_btn,
.avg_header .avg_select {
  width: 100%;
  text-align: center;
}
.avg_header .avg_left,
.avg_header .avg_right {
    max-width: 30%;
    width: 150px;
}

.avg_footer {
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
    text-align: right;
    font-size: 22px;
    color: #8f7a66;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black, 0 0 1em white;
}
.avg_header:after {
    content: '';
    display: block;
    clear: both;
}
.avg_title {
    text-align: center;
    font-size: 56px;
    line-height: 86px;
    color: #8f7a66;
    letter-spacing: 3px;
    margin: 0;
    font-family: serif;
    text-shadow: 1px 1px 2px black, 0 0 1em white;
}
.avg_btn {
    background: #8f7a66;
    border-radius: 3px;
    padding: 0 20px;
    text-decoration: none;
    color: #f9f6f2;
    height: 40px;
    cursor: pointer;
    display: block;
    font-weight: bold;
    border: 0;
}
.avg_btn:hover {
    box-shadow: inset 0 0 20px #604d3c;
}
.avg_btn + .avg_btn,
.avg_btn + .avg_select,
.avg_select + .avg_select,
.avg_select + .avg_btn { margin-top: 5px; }
.avg_btn[disabled] {
    opacity: .7;
}
.avg_select {
    background: #fff;
    border-radius: 3px;
    padding: 0 20px;
    text-decoration: none;
    color: #8f7a66;
    border-color: #8f7a66;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
    display: block;
}
.avg_select:hover {
    box-shadow: inset 0 0 2px #8f7a66;
}
.avg_game {
    min-height: 200px;
    background: #BBADA0;
    border-radius: 5px;
    font-size: 56px;
}
.avg_game:after {
    content: '';
    display: block;
    clear: both;
}
.avg_game > .avg_field {
    line-height: 0;
    font-weight: bold;
    text-align: center;
    color: #888;
    border-radius: 3px;
    text-shadow: 1px 1px 2px black, 0 0 1em white;
    float: left;
    cursor: pointer;
    border: 1px dotted #CCC;
    background-color: #CCC0B3;    
}
.avg_score-wr {
    height: 85px;
}
.avg_new-game:hover,
.avg_undo:hover {
    background-image: -webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1)));
    background-image: -webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
    background-image: -moz-linear-gradient(top,rgba(0,0,0,.05) 0,rgba(0,0,0,.1));
    background-image: -o-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
    background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}

.avg_controls-inner > .avg_btn {
    position: absolute;
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.avg_controls-inner {
    position: relative;
}
.avg_controls-inner > .avg_ctrl-up {
    left: 100px;
}
.avg_controls-inner > .avg_ctrl-left {
    top: 50px;
}
.avg_controls-inner > .avg_ctrl-right {
    left: 200px;
    top: 50px;
}
.avg_controls-inner > .avg_ctrl-down {
    left: 100px;
    top: 100px;
}


.avg_maze-container {
    background: #FFF;
    border: 1px solid #000;
    margin: -1px;
}

.avg_maze-td.left { border-left: 1px solid #000; }
.avg_maze-td.top { border-top: 1px solid #000; }
.avg_maze-td.right { border-right: 1px solid #000; }
.avg_maze-td.bottom { border-bottom: 1px solid #000; }
.avg_maze-td.toleft:before { content: '←'; }
.avg_maze-td.totop:before { content: '↑'; }
.avg_maze-td.toright:before { content: '→'; }
.avg_maze-td.tobottom:before { content: '↓'; }

.avg_maze-tr:after {
    content: '';
    display: block;
    clear: both;
}
.avg_maze-td {
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
}
.avg_maze-td.visited {
    background: #ffec88;
}
.avg_maze-td.current {
    background: red;
}
.avg_maze-td.start {
    background: #ffcc88;
}
.avg_maze-td.stop {
    background: #ff8888;
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    padding-left: 25px;
    height: 20px;
    line-height: 20px;
    user-select: none;
}
input[type="checkbox"] + label:hover:before {
    box-shadow: inset 0 0 2px #8f7a66;
}
input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #8f7a66;
    border-radius: 2px;
    box-shadow: inset 0 0 1px #8f7a66;
    font-family: sans-serif;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    color: #634b35;
    box-sizing: border-box;
}
input[type="checkbox"]:checked + label:before {
    content: '✓';
}